<h2>Your Kitten</h2>

<ul>
  <li>Name:<%= @kitten.name %></li>
  <li>Age:<%= @kitten.age %></li>
  <li>Cuteness Level: <%= @kitten.cuteness %></li>
  <li>Softness Level: <%= @kitten.softness %></li>
</ul>
